<div class="container">
  <div id="battlefieldName">
    <h1>Photos from {{ battlefield }}</h1>
  </div>
  <div class="row">
    <!-- <div *ngFor="let photo of photos">
      <h1>{{ photo.name }}</h1>
      <h2>{{ photo.description }}</h2>
      <h3>{{ photo.imagePath }}</h3>
    </div> -->
    <!-- name: string;
    description: string;
    imagePath: string; -->
    <!-- <div class="card m-2" style="width: 18rem;">
      <img src="../assets/5dune2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
      <img src="../assets/cl4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
        <img src="../assets/cl4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
  </div>   -->
</div>